  <div style="padding: 10px; ">
    <div>
     	<h3>::item.name::</h3>
    	<small>
		   	<ul>
		    	<li>created on: ::item.created_on::</li>
		    	<li>created by: ::item.created_by.username::::if item.created_by.avatar_file::<img src="::item.created_by.avatar_file::" />::end::</li>
		    	<li>updated on: ::item.updated_on::</li>
		    	<li>updated by: ::item.updated_by.username::::if item.updated_by.avatar_file::<img src="::item.updated_by.avatar_file::" />::end::</li>
		    </ul>
	    </small>
   </div>
    <div>
	<!--   ::items::  -->   
	<br /><br /><br /><br /><br /><br /><br /><br /><hr />
	Debug:
	<small>::items::</small>  
    </div>
  </div>