  <div id="homeScreen" style="padding: 10px; ">
<!-- home screen = current selection (workspace, tags, filter) + tabs (docs, emails, contact...)  -->
	<ul style="margin: 20; padding: 0; list-style-type: none; display: block; ">
	    <a id="workspaceBtn" href="#">
			<li style="margin : 0px; margin: 0; padding: 0; ">
				<div style="width:66%; display: inline-block; text-decoration: none; " >
					<p style="text-decoration: none; margin: 0; padding: 0; ">Current workspace:</p>
					<strong style="text-decoration: none; margin: 0; padding: 0; ">::appState.curWorkspace.name::</strong>
				</div>
				<div style="background-image: url(./assets/filters/workspace.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></div>
			</li>
	    </a>
	</ul>
	<ul style="margin: 0; padding: 0; list-style-type: none; background-color: transparent; ">
	    <a id="filesBtn" href="#">
	    	<li  style="margin : 20px; display: inline-block; ">
	    		<div style="background-image: url(assets/objects/files.png); margin : 0px; width: 50px; height: 50px; "></div>
	    		<p style="margin : 0px; width: 50px; text-align:center; ">files</p>
	    	</li>
	    </a>
	    <a id="tasksBtn" href="#">
	    	<li  style="margin : 20px; display: inline-block; ">
	    		<div style="background-image: url(assets/objects/tasks.png); margin : 0px; width: 50px; height: 50px; "></div>
	    		<p style="margin : 0px; width: 50px; text-align:center; ">tasks</p>
	    	</li>
	    </a>
	    <a id="notesBtn" href="#">
	    	<li  style="margin : 20px; display: inline-block; ">
	    		<div style="background-image: url(assets/objects/note.png); margin : 0px; width: 50px; height: 50px; "></div>
	    		<p style="margin : 0px; width: 50px; text-align:center; ">notes</p>
	    	</li>
	    </a>
	    <a id="emailsBtn" href="#">
	    	<li  style="margin : 20px; display: inline-block; ">
	    		<div style="background-image: url(assets/objects/email.png); margin : 0px; width: 50px; height: 50px; "></div>
	    		<p style="margin : 0px; width: 50px; text-align:center; ">emails</p>
	    	</li>
	    <a id="linksBtn" href="#">
	    	<li  style="margin : 20px; display: inline-block; ">
	    		<div style="background-image: url(assets/objects/weblink.png); margin : 0px; width: 50px; height: 50px; "></div>
	    		<p style="margin : 0px; width: 50px; text-align:center; ">links</p>
	    	</li>
	    </a>
	    <a id="calendarBtn" href="#">
	    	<li  style="margin : 20px; display: inline-block; ">
	    		<div style="background-image: url(assets/objects/view_calendar_day.png); margin : 0px; width: 50px; height: 50px; "></div>
	    		<p style="margin : 0px; width: 50px; text-align:center; ">calendar</p>
	    	</li>
	    </a>
	    <a id="contactsBtn" href="#">
	    	<li  style="margin : 20px; display: inline-block; ">
	    		<div style="background-image: url(assets/objects/groups.png); margin : 0px; width: 50px; height: 50px; "></div>
	    		<p style="margin : 0px; width: 50px; text-align:center; ">contacts</p>
	    	</li>
	    </a>
	</ul>
  </div>
