 <div id="listFooter" style="background-size: 100%; margin : 0px; padding : 1px; ">
	<ul style="margin: 0; padding: 10; list-style-type: none; ">
	    <li id="listFooterHomeBtn">
	    	<img src="./assets/navigation/logo_big.png" style="margin : 0px; width: 40px; height: 40px; display: inline-block; " />
	    </li>
<!--     <li id="listFooterBackBtn" style="background-image: url(assets/navigation/arrow_left.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li>
	    <li id="listFooterForwardBtn" style="background-image: url(assets/navigation/arrow_right.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li>
-->	</ul>
  </div>
<!-- background-image: url(./assets/white-top-bottom.gif);  -->