  <div id="listFooter" style="background-image: url(./assets/white-top-bottom.gif); background-size: 100%; margin : 0px; padding : 1px; ">
	<ul style="margin: 0; padding: 10; list-style-type: none; background-color: #036; ">
	    <a id="listFooterHomeBtn" href="#"><li style="background-image: url(assets/other/ic_menu_smalltiles.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li></a>
	    <a id="listFooterBackBtn" href="#"><li style="background-image: url(assets/navigation/arrow_left.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li></a>
	    <a id="listFooterForwardBtn" href="#"><li style="background-image: url(assets/navigation/arrow_right.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li></a>
	</ul>
  </div>
  