<div id="login" style="margin: auto; width: 100%; max-width: 200px; height: 100%px; max-height: 200px; margin-top: 20px; ">
	<div id="loginUsernameDiv" style="width: 100%; ">
		<label for="userName">Email or username:</label><br />
		<input id="userName" value="" type="text" style="width: 100%; " />
	</div>
	<div id="loginPasswordDiv" style="width: 100%; " >
	    <label for="userPass" style="width: 100%; ">Password:</label><br />
	    <input id="userPass" class="medium" value="" type="password" style="width: 100%; " />
	</div>
	<button id="submitBtn" type="submit" style="width: 100%; ">Login</button>
	<div>
		::if isError::<p style="color: orange;">::error::</p>::end::
	</div>
</div>