  <div style="padding: 10px; ">
    <div>
	<button id="upBtn" type="button">Up</button>
	<button id="refreshBtn" type="button">Refresh</button>
	<button id="selectBtn" type="button">Select</button>
    </div>
    <div>
	<ul style="list-style-type: none; padding: 0px; ">::foreach items::
	  <li style=""><a href="#" id="itemBtn::id::" style="text-decoration: none; ">::name::</a><button style="position: absolute; right: 60px; " id="selectBtn::id::" type="button">Select</button></li>::end::
	</ul>
    </div>
  </div>