  <div id="WindowsId::id::" style="background-image: url(./assets/white-top-bottom.gif); background-size: 100%; margin : 0px; padding : 1px; ">
    <h2 id="WindowsId::id::Title" style="font-family: Verdana,Arial; text-align: center;">::title::</h2>
    <div id="WindowsId::id::Body" style="padding: 10px; margin: 20px; overflow: scroll; overflow-x: hidden; height: 100px; 
	    padding: 0px; background-color: white; border-radius: 10px;"></div>
    <div id="WindowsId::id::Footer" style="">
<!-- Menu
Tabs:
- home
- contexts / workspaces
- tab (mails, tasks, messages, documents, contacts, webpages, calendar)
- list of items
- content of the selected item
- filter (tags, people, ...)
-->
	<ul style="margin: 0; padding: 10; list-style-type: none; background-color: #036; ">
	    <a id="WindowsId::id::HomeBtn" href="#"><li style="background-image: url(./assets/objects/custom_properties.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li></a>
	    <a id="WindowsId::id::WorkspaceBtn" href="#"><li style="background-image: url(./assets/filters/workspace.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li></a>
	    <a id="WindowsId::id::TabBtn" href="#"><li style="background-image: url(./assets/filters/tabs.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li></a>
	    <a id="WindowsId::id::ListBtn" href="#"><li style="background-image: url(./assets/other/ic_menu_database.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li></a>
<!--	    <a id="WindowsId::id::ContentBtn" href="#"><li style="background-image: url(./assets/navigation/checkin.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li></a>
	    <a id="WindowsId::id::FilterBtn" href="#"><li style="background-image: url(./assets/other/ic_menu_filter.png); margin : 0px; width: 50px; height: 50px; display: inline-block; "></li></a>
-->	</ul>
    </div>
  </div>
