  <div id="WindowsId::id::" style="background-image: url(./assets/white-top-bottom.gif); background-size: 100%; margin : 0px; padding : 1px; ">
    <h2 id="WindowsId::id::Title" style="font-family: Verdana,Arial; text-align: center;">::title::</h2>
    <div id="WindowsId::id::Body" style="padding: 10px; margin: 20px; overflow: scroll; overflow-x: hidden; height: 100px; 
	    padding: 0px; background-color: white; border-radius: 10px;"></div>
    <div id="WindowsId::id::Footer" style="">
	<ul style="margin: 0; padding: 0; list-style-type: none; background-color: #036; ">
	    <a id="WindowsId::id::CatBtn" href="#"><li id="FooterCat::id::" style="background-image: url(./assets/ic_menu_categories.png); margin : 0px; width: 60px; height: 60px; display: inline-block; "></li></a>
	    <a id="WindowsId::id::TaskBtn" href="#"><li id="FooterTask::id::" style="background-image: url(./assets/ic_menu_database.png); margin : 0px; width: 60px; height: 60px; display: inline-block; "></li></a>
	    <a id="WindowsId::id::FilterBtn" href="#"><li id="FooterFilter::id::" style="background-image: url(./assets/ic_menu_filter.png); margin : 0px; width: 60px; height: 60px; display: inline-block; "></li></a>
	</ul>
    </div>
  </div>
