  <div id="WindowsId::id::" style="background-color: black; background-size: 100%; margin : 0px; padding : 1px; height:100%; width:100% ">
    <div id="WindowsId::id::Body" style="padding: 10px; margin: 0px; overflow: auto; overflow-x: hidden; 
	    padding: 0px; background-color: white; border-radius: 0px; "></div>
    <div id="WindowsId::id::Footer" >
    </div>
   <p id="WindowsId::id::Title" style="display:none; margin:0; font-family: Verdana,Arial; text-align: right;">::title::</p>  
  </div>
<!-- background-image: url(./assets/white-top-bottom.gif);  -->