  <div style="padding: 10px; ">
    <div>
		<button id="upBtn" type="button">Up</button>
		<button id="refreshBtn" type="button">Refresh</button>
    </div>
    <div>
    	<!--  <h2>::title::</h2> -->
		<button id="selectBtn" style="::if hasParent::::else::display:none; ::end::" type="button">Select Workspace</button>
	   	::if hasParent::
    	<small>
		   	<ul>
		    	<li>created on: ::curItem.created_on::</li>
		    	<li>created by: ::curItem.created_by.username::::if curItem.created_by.avatar_file::<img src="::curItem.created_by.avatar_file::" />::end::</li>
		    	<li>updated on: ::curItem.updated_on::</li>
		    	<li>updated by: ::curItem.updated_by.username::::if curItem.updated_by.avatar_file::<img src="::curItem.updated_by.avatar_file::" />::end::</li>
		    </ul>
	    </small>
	    ::end::
    </div>
    <div>
	<ul style="list-style-type: none; text-align:right;margin:1em 0;padding:0">::foreach items::
	  <li style="margin-bottom: 30px; border-bottom: medium groove gray; ">
		  <p style="margin: 0; text-decoration: none; white-space:nowrap; float:left">::name::<small> - ::updated_on:: by ::updated_by.username::</small></p>
		  <button style="display:inline;white-space:nowrap;" id="itemBtn::id::" type="button">See children</button>
		  <button style="display:inline;white-space:nowrap;" id="selectBtn::id::" type="button">Select Workspace</button>
	  </li>::end::
	</ul>
    </div>
  </div>
<!--   ::items::  -->   
<br /><br /><br /><br /><br /><br /><br /><br /><hr />
Debug:
<small>::items::</small>  